.activity{
    color: aliceblue;
    border: 3px solid black;
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.568);
    margin: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: none;
    grid-template-areas: 
    "name difficulty duration season countries";
}
.flags{
    height: 50px;
    width: 100px;
    border-radius: 5px;
}

.flags:hover{
    transform: scale(1.1);
}

.flags:active{
    transform: scale(0.9);
}

.list{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.li{
    padding: 10px;
}

.name{
    grid-area: name;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 2rem;
}

.difficulty{
    grid-area: difficulty;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 2rem;
}

.duration{
    grid-area: duration;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 2rem;
}

.season{
    grid-area: season;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 2rem;
}

.countries{
    grid-area: countries;
}

.close{
    display: flex;
    justify-content: flex-end;
    background-color: transparent;
    border: 0;
    font-size: medium;
    color: #289AE0;
    cursor: pointer;
}

.close:hover{
    color: red;
}


.conteinerF{
    margin: 1rem;
}